# Dependencias / build
**/vendor/
**/node_modules/
backend/public/build
backend/public/hot
backend/public/storage

# Entorno y secretos (NUNCA commitear)
**/.env
**/.env.*
!**/.env.example
*.key

# Caches Laravel
backend/storage/*.key
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*.php
.phpunit.result.cache
**/.phpunit.cache

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
